body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.welcome-block {
  background-image: url("http://previews.123rf.com/images/woottigon/woottigon1507/woottigon150700045/43074009-Work-space-for-photographer-designer-or-hipster-style-Have-a-laptop-film-camera-film-speaker-glasses-Stock-Photo.jpg");
  position: relative;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color:#290e37;
}

.logo {
  text-align: left;
  color: white;
  padding: 10px;
}

.menu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.menu ul{
  margin-left: auto;
}

.menu li{
  display: inline;
}

.welcome-headings {text-align: center;}

.download-cv-button {
  align: center;
}
button{
    background-color: #03b196;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px #02967f;
    text-transform: uppercase;
    display: table;
    margin: 0 auto
}

button:hover {background-color: #02967f}

button:active {
  background-color: #02967f;
  box-shadow: 0 5px #02967f;
  transform: translateY(4px);
}

.arrow {align-items: center;}

.about-me h1, img {
  text-align: center;
}

.about-me p {
  align-content: left;
}

.testimonials {
  text-align: center;
}

.get-in-touch{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/60/Plac_Zamkowy_w_Warszawie_widziany_z_wie%C5%BCy_ko%C5%9Bcio%C5%82a_%C5%9Bw._Anny.JPG");
  color: white;
}

.media{
  display: flex;
  justify-content: center;
}

footer{
  background-color:#290e37;
}

footer p{
  color: white;
}
